@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/static/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Montserrat', sans-serif;
}

:root {
    --primary-collor: #;
}
